{% comment %}
  Renders sign up form.
{% endcomment %}
<script src='{{ 'klaviyo-signup-form.js' | asset_url }}' defer='defer'></script>
<klaviyo-signup-form class='newsletter-form'>
  <form class='klaviyo-signup-form'>
    <div class='newsletter-form__field-wrapper'>
      <input
        type='email'
        id='email'
        aria-required='true'
        autocorrect='off'
        autocapitalize='off'
        autocomplete='email'
        placeholder='Enter your email'
        required
      >
      <label class='field__label' for='NewsletterForm--{{ section.id }}'>
        {{ 'newsletter.label' | t }}
      </label>
      <button
        type='submit'
        class='newsletter-form__button field__button'
        name='commit'
        id='Subscribe'
        aria-label='{{ 'newsletter.button_label' | t }}'
      >
        signup
        <span class='svg-wrapper'>
          {{- 'icon-arrow.svg' | inline_asset_content -}}
        </span>
      </button>
      <div class='klaviyo-signup-form__error'></div>
      <div class='klaviyo-signup-form__success'></div>
    </div>
  </form>
</klaviyo-signup-form>
