{% comment %}
  Renders sign up form.
{% endcomment %}

<script src='{{ 'klaviyo-signup-form.js' | asset_url }}' defer='defer'></script>
<klaviyo-signup-form account-id='RJAyDu' list-id='UdQf4b'>
  <div class=''>
    <form class='klaviyo-signup-form newsletter-form' method='POST'>
      <input type='hidden' name='g' value='UdQf4b'>
      <input
        type='email'
        id='email'
        name='email'
        class='newsletter-form__field field__input'
        aria-required='true'
        autocorrect='off'
        autocapitalize='off'
        autocomplete='email'
        placeholder='Enter your email'
      >
      <label class='field__label' for='NewsletterForm--{{ section.id }}'>
        {{ 'newsletter.label' | t }}
      </label>
      <button
        type='submit'
        class='newsletter-form__button body-medium'
        name='commit'
        id='Subscribe'
        aria-label='{{ 'newsletter.button_label' | t }}'
      >
        Sign up
      </button>
      <div class='newsletter-form__terms'>
        <input
          type='checkbox'
          name='newsletter_terms'
          id='newsletter_terms'
          class='newsletter-form__terms-input'
          aria-label='{{ 'newsletter.button_label' | t }}'
          tabindex='0'
        >
        <label for='newsletter_terms' class='newsletter-form__terms-label' tabindex='0'>
          <span class='newsletter-form__terms-label-text body-medium'>
            {{ 'newsletter.terms' | t }}
            <a href='/pages/privacy' target='_blank'>here.</a>
          </span>
        </label>
      </div>
      <div id='newsletter-error'>
        <p class='form__messages body-medium'></p>
      </div>
    </form>
    <div class='newsletter-success' style='display: none;'>
      <div class='newsletter-form__fields'>
        <div class='form__messages banner__content--text'>
          <h2 class='email-signup-banner__heading h1'>Thanks for coming onboard.</h2>
          <div class='newsletter__subheading rte body-medium'>
            {{ 'newsletter.success_message' | t }}
          </div>
        </div>
      </div>
    </div>
  </div>
</klaviyo-signup-form>
