{% if section.settings.image != blank %}
  {% assign background_image_url = section.settings.image | image_url: width: 4000 %}
  {% style %}
    #{{ section.id }} .brimm-blocks--hero-content {
      background-image: url({{ background_image_url }});
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  {% endstyle %}
{% endif %}

{% style %}
  #{{ section.id }} {
    padding: clamp(3rem, 10vh, 100px) 4rem;
  }
  #{{ section.id }} .brimm-blocks--hero-content {
    border-radius: 48px;
  }
  .brimm-blocks--inset-hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(3rem, 6rem, 60px);
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-content h2 {
    margin: 0;
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-para {
    max-width: 580px;
    font-size: 2rem;
  }
{% endstyle %}

<section class="brimm-blocks--inset-hero color-{{ section.settings.color_scheme }}" id="{{ section.id }}">
  <div class="page-width brimm-blocks--hero-content color-scheme-6">
    <div class="brimm-blocks--product-top">
      {% for block in section.blocks %}
        {% if block.type == 'heading' %}
          <h2 class="brimm-blocks--split-text brimm-blocks--justified-header">{{ block.settings.heading_text }}</h2>
        {% endif %}
      {% endfor %}
    </div>
    <div class="brimm-blocks--product-bottom">
      {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text' %}
                <p class="brimm-blocks--hero-para">
                    {{ block.settings.copy }}
                </p>

            {% when 'cta_button' %}
                    {% if block.settings.label and block.settings.link %}
                    <a href="{{ block.settings.link }}"
                        class="button{% if block.settings.style == 'secondary' %} button--secondary{% endif %}">
                        {{ block.settings.label }}
                    </a>
                    {% endif %}

            {% when 'newsletter' %}
                <div class="hero__newsletter">
                    {% render 'klaviyo-signup-form', block: block %}
                </div>

            {% else %}
                <!-- fallback -->
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Inset Hero",
  "settings": [
    {
        "type": "image_picker",
        "label": "Image",
        "id": "image"
    },
    {
        "type": "color_scheme",
        "label": "Color Scheme",
        "id": "color_scheme"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading Block",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Default Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Paragraph Block",
      "settings": [
        {
          "type": "text",
          "id": "copy",
          "label": "Paragraph Text",
          "default": "Your text here…"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter form"
    },
    {
      "type": "cta_button",
      "name": "CTA Button",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Button label",
          "default": "Click me"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Button style",
          "default": "primary",
          "options": [
            { "value": "primary", "label": "Primary" },
            { "value": "secondary", "label": "Secondary" }
          ]
        }
      ]
    }

  ],
  "presets": [
    {
        "name": "Inset Hero"
    }
  ]
}
{% endschema %}
