{% style %}
  #{{ section.id }} {
    padding: 4rem 0;
  }
  #{{ section.id }} h2 {
    margin: 0;
  }
{% endstyle %}

<section class="justified-header-container color-{{ section.settings.color_scheme }}" id={{ section.id }}>
  <div class="brimm-blocks--justified-header page-width">
    {% for block in section.blocks %}
        {% case block.type %}
        {% when 'justified_header' %}
            {% render block %}
        {% else %}
            <div class="container-block {{ block.type }}">
            {% render block %}
            </div>
        {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Justified Header Content",
  "settings": [ {
      "type": "color_scheme",
      "label": "Color Scheme",
      "id": "color_scheme"
  }],
  "blocks": [
    {
      "type": "@theme"
    },
  ],
  "presets": [
    {
      "name": "Justified Header + Content",
      "blocks": [
        {
          "type": "justified_header"
        }
      ]
    }
  ]
}
{% endschema %}
