{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}

<div class='brimm-blocks--simple-multicolumn color-{{ section.settings.color_scheme }} {% if section.settings.bordered %} bordered{% endif %} {% if section.settings.title == blank %} no-heading{% endif %}'>
  <div
    class='section-{{ section.id }}-padding isolate'
    <div class='multicolumn__grid-wrapper'>
      {%- unless section.settings.title == blank -%}
        {%- if section.settings.first_col == false and section.settings.last_col == false -%}
            <div class='title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title'>
                <h2 class='title inline-richtext {{ section.settings.heading_size }}{% if section.settings.split_header %} brimm-blocks--split-text brimm-blocks--justified-header{% endif %}'>
                    {{ section.settings.title }}
                </h2>
                <div>
                    {%- if section.settings.text_block != blank -%}
                        <div class='rte body-extra-20 text_block'>{{ section.settings.text_block }}</div>
                    {%- endif -%}
                    {%- if section.settings.button_label != blank and show_mobile_slider -%}
                        <a href='{{ section.settings.button_link }}' class='link underlined-link large-up-hide'>
                        {{- section.settings.button_label | escape -}}
                        </a>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
      {%- endunless -%}
      <div class="brimm-blocks--simple-multicolumn-grid">
        {%- if section.settings.first_col -%}
            <div class="brimm-blocks--simple-multicolumn-item brimm-blocks--callout-column no-pad">
                <h2>
                    {{ section.settings.title }}
                </h2>
                <div class="bottom">
                    {%- if section.settings.text_block != blank -%}
                        <p>{{ section.settings.text_block }}</p>
                    {%- endif -%}
                    {%- if section.settings.button_label != blank -%}
                        <a
                          class='button button--primary'
                          {% if section.settings.button_link == blank %}
                          role='link'
                          aria-disabled='true'
                          {% else %}
                          href='{{ section.settings.button_link }}'
                          {% endif %}>
                          {{ section.settings.button_label | escape }}
                        </a>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
        {%- for block in section.blocks -%}
        <div class="brimm-blocks--simple-multicolumn-item image-ratio--{{ block.settings.image_ratio }}">
            <div class='multicolumn-card content-container'>
                {%- if block.settings.image != blank -%}
                    <div>
                        {{
                        block.settings.image | image_url: width: 3200 | image_tag: widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', sizes: sizes, class: 'multicolumn-card__image'
                        }}
                    </div>
                {%- endif -%}
                <div class='multicolumn-card__info'>
                    {%- if block.settings.title != blank -%}
                    <h3 class='inline-richtext body-extra'>{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.text != blank -%}
                    <div class='rte body-medium'>{{ block.settings.text }}</div>
                    {%- endif -%}
                    {%- if block.settings.link_label != blank -%}
                    <div class="border-link">
                        <a
                            class='link animate-arrow'
                            {% if block.settings.link == blank %}
                            role='link'
                            aria-disabled='true'
                            {% else %}
                            href='{{ block.settings.link }}'
                            {% endif %}>
                            {{- block.settings.link_label | escape -}}
                            <span class='svg-wrapper'>
                            <span class='icon-wrap'>&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span>
                            </span>
                        </a>
                    </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
        {%- endfor -%}
        {%- if section.settings.last_col -%}
            <div class="brimm-blocks--simple-multicolumn-item brimm-blocks--callout-column no-pad">
                <h2>
                    {{ section.settings.title }}
                </h2>
                <div>
                    {%- if section.settings.text_block != blank -%}
                        <p>{{ section.settings.text_block }}</p>
                    {%- endif -%}
                    {%- if section.settings.button_label != blank -%}
                        <a
                          class='button button--primary'
                          {% if section.settings.button_link == blank %}
                          role='link'
                          aria-disabled='true'
                          {% else %}
                          href='{{ section.settings.button_link }}'
                          {% endif %}>
                          {{ section.settings.button_label | escape }}
                        </a>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Simple Multicolumn",
    "class": "section",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "t:sections.multicolumn.settings.title.default",
        "label": "t:sections.multicolumn.settings.title.label"
      },
      {
        "type": "checkbox",
        "id": "no-gap",
        "default": false,
        "label": "No gap?"
      },
      {
        "type": "checkbox",
        "id": "first_col",
        "default": false,
        "label": "First column intro?"
      },
      {
        "type": "checkbox",
        "id": "last_col",
        "default": false,
        "label": "Last column intro?"
      },
      {
        "type": "checkbox",
        "id": "bordered",
        "default": false,
        "label": "Image borders"
      },
      {
        "type": "inline_richtext",
        "id": "text_block",
        "default": "t:sections.multicolumn.settings.text_block.default",
        "label": "t:sections.multicolumn.settings.text_block.label"
      },
      {
        "type": "select",
        "id": "image_width",
        "options": [
          {
            "value": "third",
            "label": "t:sections.multicolumn.settings.image_width.options__1.label"
          },
          {
            "value": "half",
            "label": "t:sections.multicolumn.settings.image_width.options__2.label"
          },
          {
            "value": "full",
            "label": "t:sections.multicolumn.settings.image_width.options__3.label"
          }
        ],
        "default": "full",
        "label": "t:sections.multicolumn.settings.image_width.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
          },
          {
            "value": "circle",
            "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.multicolumn.settings.image_ratio.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3,
        "label": "t:sections.multicolumn.settings.columns_desktop.label"
      },
      {
        "type": "select",
        "id": "column_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.multicolumn.settings.column_alignment.label"
      },
      {
        "type": "select",
        "id": "background_style",
        "options": [
          {
            "value": "none",
            "label": "t:sections.multicolumn.settings.background_style.options__1.label"
          },
          {
            "value": "primary",
            "label": "t:sections.multicolumn.settings.background_style.options__2.label"
          }
        ],
        "default": "primary",
        "label": "t:sections.multicolumn.settings.background_style.label"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "t:sections.multicolumn.settings.button_label.default",
        "label": "t:sections.multicolumn.settings.button_label.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.multicolumn.settings.button_link.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.multicolumn.settings.header_mobile.content"
      },
      {
        "type": "select",
        "id": "columns_mobile",
        "options": [
          {
            "value": "1",
            "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
          }
        ],
        "default": "1",
        "label": "t:sections.multicolumn.settings.columns_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          },
          {
            "type": "checkbox",
            "id": "image_is_icon",
            "default": false,
            "label": "Image is an icon"
          },
          {
            "type": "checkbox",
            "id": "has_waitlist_cta",
            "default": false,
            "label": "has waitlist button"
          },
          {
            "type": "checkbox",
            "id": "has_bg_color",
            "default": false,
            "label": "has background colour"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "default": "t:sections.multicolumn.blocks.column.settings.title.default",
            "label": "t:sections.multicolumn.blocks.column.settings.title.label"
          },
          {
            "type": "richtext",
            "id": "text",
            "default": "t:sections.multicolumn.blocks.column.settings.text.default",
            "label": "t:sections.multicolumn.blocks.column.settings.text.label"
          },
          {
            "type": "text",
            "id": "image_label",
            "label": "t:sections.multicolumn.blocks.column.settings.image_label.label"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.multicolumn.blocks.column.settings.link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Simple Multicolumn",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .text_block {
    max-width: 50%;
    color: black;
  }
{% endstylesheet %}
