{% if section.settings.product_image != blank %}
  {% assign background_image_url = section.settings.product_image | image_url: width: 4000 %}
  {% style %}
    #{{ section.id }} {
      background-image: url({{ background_image_url }});
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  {% endstyle %}
{% endif %}

{% style %}
  .brimm-blocks--product-hero {
    min-height: 80vh;
    height: 80vh;
    align-items: stretch;
    padding-top: 10rem;
  }
  .brimm-blocks--product-hero .brimm-blocks--hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .brimm-blocks--brand {
    color: black;
  }
  .brimm-blocks--product-hero p {
    font-size: 2.3rem;
    line-height: 1.25;
    max-width: 530px;
    font-weight: 577;
  }
{% endstyle %}

<section class="brimm-blocks--hero brimm-blocks--product-hero color-{{ section.settings.color_scheme }}" id="{{ section.id }}">
  <div class="page-width brimm-blocks--hero-content">
    <div class="brimm-blocks--product-top">
      {% for block in section.blocks %}
        {% if block.type == 'heading_brand' %}
          <h1 class="brimm-blocks--split-text brimm-blocks--justified-header brimm-blocks--brand">{{ block.settings.brand_name }}</h1>
        {% endif %}
        {% if block.type == 'heading' %}
          <h1 class="brimm-blocks--split-text brimm-blocks--justified-header">{{ block.settings.product_name }}</h1>
        {% endif %}
      {% endfor %}
    </div>
    <div class="brimm-blocks--product-bottom">
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <p class="brimm-blocks--hero-para">{{ block.settings.copy }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Hero Section",
  "settings": [
    {
        "type": "image_picker",
        "label": "Image",
        "id": "product_image"
    },
    {
        "type": "color_scheme",
        "label": "Color Scheme",
        "id": "color_scheme"
    }
  ],
  "blocks": [
    {
      "type": "heading_brand",
      "name": "Product Brand",
      "settings": [
        {
          "type": "text",
          "id": "brand_name",
          "label": "Product Brand",
          "default": "My Skin Feels"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Product Name",
      "settings": [
        {
          "type": "text",
          "id": "product_name",
          "label": "Product Text",
          "default": "Fruity Foaming Face Wash"
        }
      ]
    },
    {
      "type": "text",
      "name": "Paragraph Block",
      "settings": [
        {
          "type": "text",
          "id": "copy",
          "label": "Paragraph Text",
          "default": "Your text here…"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "Product Hero"
    }
  ]
}
{% endschema %}
