{% style %}
  #{{ section.id }} {
    padding: clamp(3rem, 10vh, 100px) 4rem;
  }
  #{{ section.id }} .brimm-blocks--hero-content {
    border-radius: 48px;
  }
  .brimm-blocks--inset-hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(3rem, 6rem, 60px);
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-content h2 {
    margin: 0;
  }
  .brimm-blocks--inset-hero .brimm-blocks--hero-para {
    max-width: 580px;
    font-size: 2rem;
  }
{% endstyle %}

<section class="brimm-blocks--mega color-{{ section.settings.color_scheme }}" id="{{ section.id }}">
  <div class="page-width brimm-blocks--mega-content">
    <div class="brimm-blocks--mega-top">
      {% for block in section.blocks %}
        {% if block.type == 'heading' %}
          <h2>{{ block.settings.heading_text }}</h2>
        {% endif %}
        {% if block.type == 'top_paragraph' %}
          <p>{{ block.settings.top_copy }}</h2>
        {% endif %}
      {% endfor %}
    </div>
    <div class="brimm-blocks--mega-image">
      {%- if section.settings.video_embed != blank and section.settings.image == blank %}
        <div class='section-{{ section.id }}-padding grid__item wistia_embed'>
          {{ section.settings.video_embed }}
        </div>
      {%- endif -%}
    </div>
    <div class="brimm-blocks--mega-bottom">
      {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text' %}
                <p class="brimm-blocks--hero-para">
                    {{ block.settings.copy }}
                </p>

            {% when 'cta_button' %}
                {% if block.settings.label and block.settings.link %}
                    <a href="{{ block.settings.link }}"
                        class="button{% if block.settings.style == 'secondary' %} button--secondary{% endif %}">
                        {{ block.settings.label }}
                    </a>
                {% endif %}

            {% else %}
                <!-- fallback -->
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Mega",
  "settings": [
    {
        "type": "image_picker",
        "label": "Image",
        "id": "image"
    },
    {
      "type": "liquid",
      "id": "video_embed",
      "label": "t:sections.image-with-text.settings.video_embed.label",
      "info": "t:sections.image-with-text.settings.video_embed.info"
    },
    {
        "type": "color_scheme",
        "label": "Color Scheme",
        "id": "color_scheme"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading Block",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Default Heading"
        }
      ]
    },
    {
      "type": "top_paragraph",
      "name": "Top Parapgraph",
      "settings": [
        {
          "type": "text",
          "id": "top_copy",
          "label": "Top Paragraph Text",
          "default": "Your text here…"
        }
      ]
    },
    {
      "type": "bottom_paragraph",
      "name": "Bottom Parapgraph",
      "settings": [
        {
          "type": "text",
          "id": "bottom_copy",
          "label": "Bottom Paragraph Text",
          "default": "Your text here…"
        }
      ]
    },
    {
      "type": "cta_button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Button label",
          "default": "Click me"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Button style",
          "default": "primary",
          "options": [
            { "value": "primary", "label": "Primary" },
            { "value": "secondary", "label": "Secondary" }
          ]
        }
      ]
    }

  ],
  "presets": [
    {
        "name": "Mega"
    }
  ]
}
{% endschema %}
